aiohttp==3.6.3; python_full_version >= "3.5.3"
async-timeout==3.0.1; python_full_version >= "3.5.3"
attrs==20.3.0; python_full_version >= "3.5.3"
chardet==3.0.4; python_full_version >= "3.5.3"
discord.py==1.5.1; python_full_version >= "3.5.3"
idna==2.10; python_version >= "3.5" and python_full_version >= "3.5.3"
multidict==4.7.6; python_version >= "3.5" and python_full_version >= "3.5.3"
typing-extensions==3.7.4.3; python_version >= "3.5" and python_full_version >= "3.5.3" and python_version < "3.8"
yarl==1.5.1; python_version >= "3.5" and python_full_version >= "3.5.3"
